* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Lora", serif;
}

.spacer {
  width: 100%;
  height: 100px;
}
.main {
  display: flex;
  flex-direction: column;
}
nav {
  width: 100%;
  background-color: #02393e;
  display: flex;
  justify-content: space-between;
}
nav .nav-bar {
  padding: 30px;
  display: flex;
  font-size: 20px;
}
nav .nav-bar .nav-bar_item {
  list-style-type: none;
  padding: 0px 50px;
}
nav .nav-bar .dropdown {
  position: relative;
}
nav .nav-bar .dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #02393e;
  border-bottom: 2px solid #02393e;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover:after {
  transform: rotate(135deg);
}
nav .nav-bar .dropdown .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  width: 110px;
  background-color: #02393e;
  padding: 20px;
  border-radius: 10px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project {
  height: 220px;

  visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
  list-style-type: none;
  margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a {
  position: relative;
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover:after {
  width: 100%;
}

.article-container4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #045b62;
  border: 1px solid #045b62;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 50px;
}

.contact-container h1 {
  color: white;
  font-size: 65px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.small-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background-color: #02393e;
  border-radius: 20px;
}

.small-circle:hover {
  cursor: pointer;
}

.social {
  width: 50px;
  height: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  align-items: center;
}

.resume {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #02393e;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.link {
  text-decoration: none;
}

.dl {
  width: 40px;
  height: 40px;
}

.resume:hover {
  cursor: pointer;
  background-color: gray;
  color: black;
}
