* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
.spacer {
  width: 100%;
  height: 100px;
}
.main {
  display: flex;
  flex-direction: column;
}
nav {
  width: 100%;
  background-color: #02393e;
  background: linear-gradient(to left, #045b62, #02393e);
  display: flex;
  justify-content: space-between;
}
nav .nav-bar {
  padding: 30px;
  display: flex;
  font-size: 20px;
}
nav .nav-bar .nav-bar_item {
  list-style-type: none;
  padding: 0px 50px;
}
nav .nav-bar .dropdown {
  position: relative;
}
nav .nav-bar .dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #02393e;
  border-bottom: 2px solid #02393e;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover:after {
  transform: rotate(135deg);
}
nav .nav-bar .dropdown .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  width: 110px;
  background-color: #02393e;
  padding: 20px;
  border-radius: 10px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project {
  height: 220px;

  visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
  list-style-type: none;
  margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a {
  position: relative;
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover:after {
  width: 100%;
}

/*Home CSS*/
.article-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #045b62;
  border: 1px solid #045b62;
}

.image {
  height: 100vh;
  background-repeat: no-repeat;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  font-size: 80px;
  color: #ffffff;
}
.text-container h1 {
  font-size: 140px;
  color: #ffffff;
}
.span {
  color: #631212;
}
.paragraph-container {
  font-size: 40px;
}

/*About CSS*/
.article-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100vh;
  background-color: #045b62;
  border: 1px solid #045b62;
}

.image2 {
  border-radius: 100%;
  max-height: 80vh;
  max-width: auto;
}

.image-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 50vw;
}

.objectives {
  height: 15vh;
  font-size: 15px;
  width: 100%;
}

.text-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  width: 100%;
  padding: 20px 50px;
}

.text-container2 .objectives {
  text-align: justify;
}
.text-container2 h3 {
  padding-top: 25px;
}

.text-container2 h3,
.text-container2 h4,
.text-container2 .objectives {
  width: 100%;
}
/*My Skills*/

.skills-container {
  height: 80%;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 0;
}

.bar {
  width: 90%;
  height: 35px;
  background: #02393e;
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
}

.bar-inner {
  width: 50%;
  height: 35px;
  line-height: 35px;
  background: #012225;
  border-radius: 5px 0 0 5px;
}
.bar-inner1 {
  width: 60%;
  height: 35px;
  line-height: 35px;
  background: #012225;
  border-radius: 5px 0 0 5px;
}
.bar-inner2 {
  width: 65%;
  height: 35px;
  line-height: 35px;
  background: #012225;
  border-radius: 5px 0 0 5px;
}
.bar-inner3 {
  width: 80%;
  height: 35px;
  line-height: 35px;
  background: #012225;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
}

/*Project CSS*/
.article-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #045b62;
  border: 1px solid #045b62;
}

body {
  background-color: #045b62;
}
h1 {
  font-size: 30px;
  padding-top: 2%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  display: block;
  margin: 80px auto;
  border: 2px;
}
.carousel-item {
  position: absolute;
  top: 15%;
  padding: 1px 380px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-next {
  right: 200px;
  position: absolute;
  top: 320px;
  transform: translateY(-50%) rotate(-45deg);
}
.arrow-prev {
  left: 200px;
  position: absolute;
  top: 320px;
  transform: translateY(-50%) rotate(135deg);
}
.size1 {
  margin-top: 10%;
  width: 750px;
  height: 500px;
}
.size2 {
  margin-top: 10%;
  width: 750px;
  height: 500px;
}
.size3 {
  margin-top: 10%;
  width: 750px;
  height: 500px;
}
.size4 {
  margin-top: 10%;
  width: 750px;
  height: 500px;
}
.size5 {
  margin-top: 10%;
  width: 750px;
  height: 500px;
}

[id^="item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
}

*:target ~ .item-1 {
  opacity: 1;
}
#item-2:target ~ .item-2,
#item-3:target ~ .item-3,
#item-4:target ~ .item-4,
#item-5:target ~ .item-5 {
  z-index: 2;
  opacity: 1;
}

@media only screen and (max-width: 820px) {
  .main {
    display: flex;
    align-items: center;
  }
  .nav-bar .nav-bar_item h1 {
    font-size: 4.5vh;
  }
  .text-container h1 h2 {
    font-size: 60px;
    color: #ffffff;
  }
  .par1 {
    padding: 5%;
  }
  video {
    width: 90%;
  }
  .video-container {
    padding: 5%;
  }
  .par2 {
    padding: 5%;
  }

  .btn-container {
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
  }

  /* About Me */
  .article-container2 {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
  }
  .image2 {
    width: 160%;
  }
}

@media only screen and (min-width: 1080px) {
  .top-nav {
    display: none;
  }
}
